In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

import warnings
warnings.filterwarnings('ignore')

dataset_filepath = os.getenv('HOME')+'/문서/GitHub/Exploration/005930.KS.csv' 
df = pd.read_csv(dataset_filepath) 
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

         Date     Open     High      Low    Close     Adj Close    Volume
0  2021-09-01  76700.0  77100.0  75900.0  76800.0  75241.617188  16114775
1  2021-09-02  76800.0  76800.0  75700.0  76000.0  74457.867188  15347486
2  2021-09-03  76400.0  76700.0  76000.0  76600.0  75045.695313  12096419
3  2021-09-06  76800.0  77600.0  76600.0  77300.0  75731.476563  12861180
4  2021-09-07  77100.0  77100.0  75900.0  76100.0  74555.828125  13239401

In [4]:
df = pd.read_csv(dataset_filepath, index_col='Date', parse_dates=True)
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

               Open     High      Low    Close     Adj Close    Volume
Date
2021-09-01  76700.0  77100.0  75900.0  76800.0  75241.617188  16114775
2021-09-02  76800.0  76800.0  75700.0  76000.0  74457.867188  15347486
2021-09-03  76400.0  76700.0  76000.0  76600.0  75045.695313  12096419
2021-09-06  76800.0  77600.0  76600.0  77300.0  75731.476563  12861180
2021-09-07  77100.0  77100.0  75900.0  76100.0  74555.828125  13239401